<div id="getHtml" style='display:none;'>
</div>
<div class="liste">
  La liste de tous les pokemons se trouve ici. Il y a {{ctrl.pokemons.length}} Pokémons.
  <div class="pokemons row">
    <div class="col-md-6" ng-repeat="pokemon in ctrl.pokemons">
      <div class="pokemon col-md-11">
        <div class="row">
          <div class="left-div col-md-4">
            <p>
              <span>Id : {{pokemon.id}}</span>
            </p>
            <p>
              <span>Nom : {{ctrl.pokemons[pokemon.id - 1].name}}</span>
            </p>
            <div class="pokemon-infos row">
              <span class="col-md-12">Weight : {{pokemon.weight}}</span>
              <span class="col-md-12">Height : {{pokemon.height}}</span>
            </div>
          </div>
          <div class="right-div col-md-5">
            <div class="pokemon-stats row">
              <div class="row">
                <div class="col-md-12">
                  <span class="stat-label">Attaque : {{  pokemon.stats[4].base_stat }}</span>
                </div>
                <div class="col-md-12">
                  <span class="stat-label">Défense : {{ pokemon.stats[3].base_stat }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <span class="stat-label">Attaque spé. : {{ pokemon.stats[2].base_stat }}</span>
                </div>
                <div class="col-md-12">
                  <span class="stat-label">Défense spé. : {{ pokemon.stats[1].base_stat }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <span class="stat-label">Vitesse : {{ pokemon.stats[0].base_stat }}</span>
                </div>
                <div class="col-md-12">
                  <span class="stat-label">HP : {{ pokemon.stats[5].base_stat }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <img ng-if="pokemon.id" ng-src="../assets/first_generation/{{ pokemon.id }}.png" alt="{{ pokemon.name }} [Failed]" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-right">
            <button class="btn btn-warning" ng-click="ctrl.edit(pokemon)">Modifier</button>
            <button class="btn btn-danger" ng-click="ctrl.delete(pokemon)">Supprimer</button>
          </div>
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>
</div>
